__pycache__/
*.py[cod]
*.so
.Python
.coverage
.coverage.*
.env
.env.*
.hypothesis/
.ipynb_checkpoints/
.mypy_cache/
.nox/
.pytest_cache/
.ruff_cache/
.tox/
.venv/
.vscode/
*.egg-info/
build/
dist/
env/
ENV/
htmlcov/
pip-wheel-metadata/
site/
venv/
.DS_Store
.idea/
.python-version

